.u-block-a647-5 {
  position: absolute;
  top: auto;
  bottom: 16px;
}

.u-block-a647-3 {
  position: absolute;
  left: 0;
}

.u-block-a647-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(to right, #0d2035, #3d548d);
}

.u-section-1-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-1-1 .u-custom-php-1 {
  min-height: 18px;
  margin: 0 272px 0 298px;
}

.u-section-1-1 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  align-self: center;
  border-style: solid;
  font-weight: 700;
  text-transform: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(to right, #0d2035, #3d548d);
  margin: 5px auto 0 532px;
  padding: 0 10px 0 9px;
}

.u-section-1-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: -32px 532px 0 561px;
}

.u-section-1-1 .u-group-1 {
  width: 348px;
  min-height: 327px;
  margin: 34px auto 0;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 10px 17px 9px;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 17px auto 0;
}

.u-section-1-1 .u-text-3 {
  margin: 24px auto 0;
}

.u-section-1-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1-1 .u-form-1 {
  height: 314px;
  width: 306px;
  margin: 5px auto 0;
}

.u-section-1-1 .u-input-1 {
  font-style: italic;
}

.u-section-1-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1-1 .u-input-2 {
  font-style: italic;
}

.u-section-1-1 .u-btn-3 {
  background-image: linear-gradient(to right, #0d2035, #3d548d);
  border-style: none;
  padding: 5px 31px 5px 29px;
}

.u-section-1-1 .u-text-4 {
  margin: -48px 26px 0 168px;
}

.u-section-1-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-custom-php-1 {
    margin-right: 172px;
    margin-left: 198px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 430px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-right: 418px;
    margin-left: 458px;
  }

  .u-section-1-1 .u-group-1 {
    width: 322px;
    min-height: 302px;
    margin-top: 41px;
    margin-bottom: 60px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-1-1 .u-form-1 {
    width: 286px;
    margin-top: -11px;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-custom-php-1 {
    margin-right: 62px;
    margin-left: 88px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 10px;
    margin-left: 322px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 322px;
    margin-left: 349px;
  }

  .u-section-1-1 .u-group-1 {
    margin-top: 36px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-custom-php-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 230px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 232px;
    margin-left: 259px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-custom-php-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 130px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 132px;
    margin-left: 159px;
  }

  .u-section-1-1 .u-group-1 {
    min-height: 286px;
    width: 313px;
    margin-top: 37px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding: 5px 0 2px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1-1 .u-text-4 {
    width: auto;
    margin-top: -46px;
    margin-right: 17px;
    margin-left: 171px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(to right, #0d2035, #3d548d);
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-custom-php-1 {
  min-height: 18px;
  margin: 0 272px 0 298px;
}

.u-section-1-2 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  align-self: center;
  border-style: solid;
  font-weight: 700;
  text-transform: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(to right, #0d2035, #3d548d);
  margin: 7px auto 0 532px;
  padding: 0 10px 0 9px;
}

.u-section-1-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: -32px 532px 0 561px;
}

.u-section-1-2 .u-group-1 {
  width: 411px;
  min-height: 675px;
  margin: 32px auto 36px;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 10px 17px;
}

.u-section-1-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 17px auto 0;
}

.u-section-1-2 .u-text-3 {
  margin: 24px auto 0;
}

.u-section-1-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1-2 .u-form-1 {
  height: 558px;
  width: 351px;
  margin: -12px auto 0;
}

.u-section-1-2 .u-input-1 {
  font-style: italic;
}

.u-section-1-2 .u-input-2 {
  font-style: italic;
}

.u-section-1-2 .u-input-3 {
  font-style: italic;
}

.u-section-1-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1-2 .u-input-4 {
  font-style: italic;
}

.u-section-1-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1-2 .u-input-5 {
  font-style: italic;
}

.u-section-1-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1-2 .u-input-6 {
  font-style: italic;
}

.u-section-1-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1-2 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1-2 .u-btn-4 {
  background-image: linear-gradient(to right, #0d2035, #3d548d);
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-custom-php-1 {
    margin-right: 172px;
    margin-left: 198px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 430px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-right: 418px;
    margin-left: 458px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1-2 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-1-2 .u-form-1 {
    margin-top: -11px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-custom-php-1 {
    margin-right: 62px;
    margin-left: 88px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 321px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 308px;
    margin-left: 348px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-custom-php-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 230px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 218px;
    margin-left: 258px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-custom-php-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 130px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 118px;
    margin-left: 158px;
  }

  .u-section-1-2 .u-group-1 {
    min-height: 646px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding: 5px 8px 2px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1-2 .u-form-1 {
    width: 320px;
  }
}