 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 132px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 624px;
  height: 152px;
  margin: 1px auto 0 -129px;
}

.u-section-1 .u-shape-1 {
  width: 624px;
  height: 152px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#0d2035, #3d548d);
  text-transform: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -119px auto 34px;
  padding: 3px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-rotation-parent-1 {
    width: 704px;
    margin-left: -154px;
  }

  .u-section-1 .u-shape-1 {
    width: 704px;
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-rotation-parent-1 {
    width: 587px;
    height: 136px;
    margin-left: -119px;
  }

  .u-section-1 .u-shape-1 {
    width: 587px;
    height: 136px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -103px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 473px;
    height: 154px;
    margin-left: -109px;
  }

  .u-section-1 .u-shape-1 {
    width: 473px;
    height: 154px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: -113px;
    margin-right: 71px;
    margin-bottom: 45px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 63px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 308px;
    height: 136px;
    margin-top: 0;
    margin-left: -80px;
  }

  .u-section-1 .u-shape-1 {
    width: 308px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -99px;
    margin-right: 14px;
    margin-bottom: 37px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1396px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#0d2035, #3d548d);
  text-transform: none;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: 39px auto 0 380px;
  padding: 6px 17px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#0d2035, #3d548d);
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: -58px auto 0 426px;
  padding: 6px 17px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#0d2035, #3d548d);
  text-transform: none;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: -58px auto 0 471px;
  padding: 6px 17px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#0d2035, #3d548d);
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: -58px auto 0 518px;
  padding: 6px 17px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#0d2035, #3d548d);
  text-transform: none;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: -58px auto 0 564px;
  padding: 6px 17px;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#0d2035, #3d548d);
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: -58px auto 0 611px;
  padding: 6px 17px;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#0d2035, #3d548d);
  text-transform: none;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: -58px auto 0 656px;
  padding: 6px 17px;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#0d2035, #3d548d);
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: -58px auto 0 702px;
  padding: 6px 17px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 967px;
  margin: 35px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 207px;
  box-shadow: 5px 5px 20px 0 rgba(26,26,26,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 4px 6px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  margin: 8px 145px 0 15px;
}

.u-section-2 .u-image-1 {
  width: 145px;
  height: 145px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: url("images/9ac0090e-6642-454d-9fa8-30e737432c4c7.png");
  background-position: 50% 50%;
  transform: translateX(0px) translateY(0px) rotate(359deg);
  margin: -56px 12px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: -74px auto 0 15px;
}

.u-section-2 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  margin: 14px 157px 0 15px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 820px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(26,26,26,0.4);
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 429px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 50px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-9 {
  background-image: linear-gradient(#0d2035, #3d548d);
  border-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 35px auto 0;
  padding: 15px 44px 17px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 725px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-image-3 {
  width: 397px;
  height: 588px;
  box-shadow: 5px 5px 20px 0 rgba(26,26,26,0.4);
  margin: 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 87px;
  height: 87px;
  transition-duration: 2.5s;
  margin: -97px 15px 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 425px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(26,26,26,0.4);
  padding: 30px 20px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-10 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px auto 0;
}

.u-section-2 .u-line-2 {
  width: 912px;
  height: 3px;
  margin: 17px auto 0;
}

.u-section-2 .u-custom-html-1 {
  margin: 30px auto 17px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1364px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 280px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 326px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 371px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 418px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 464px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 511px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 556px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 602px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 7px;
    margin-right: 138px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -58px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -78px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 150px;
    margin-left: 8px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 797px;
  }

  .u-section-2 .u-image-2 {
    height: 415px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 705px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 394px;
    height: 584px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -93px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 413px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2613px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 170px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 216px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 261px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 308px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 354px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 401px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 446px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 492px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -12px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 14px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 643px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 1117px;
  }

  .u-section-2 .u-image-3 {
    width: 630px;
    height: 934px;
    margin-top: 62px;
  }

  .u-section-2 .u-icon-2 {
    width: 155px;
    height: 155px;
    margin-top: -155px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2455px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 54px;
    margin-left: 81px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 126px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 172px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 217px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 263px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 310px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 355px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 401px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 507px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 1014px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 779px;
    width: 520px;
    margin-top: 88px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-line-1 {
    height: 10px;
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-line-2 {
    height: 10px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2049px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: -176px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 4px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 53px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 98px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 145px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 190px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 235px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 278px;
  }

  .u-section-2 .u-image-2 {
    height: 312px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 624px;
  }

  .u-section-2 .u-image-3 {
    height: 543px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-icon-2 {
    width: 102px;
    height: 102px;
    margin-top: -102px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: -7px;
    margin-bottom: 41px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-icon-2,
.u-section-2 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2:hover .u-svg-link {
  fill: #db545a !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2:hover {
  color: #db545a !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2.hover .u-svg-link {
  fill: #db545a !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2.hover {
  color: #db545a !important;
}